body{

background:black;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

overflow:hidden;

}

#title{

font-size:60px;

color:white;

opacity:0;

text-align:center;

padding:20px;

}